🐞<u><b>Bugsnag</b></u>

{{ 'New error from {project}'|trans({'{project}': "<b>#{error.project|e}</b>"})|raw }}:

<pre>
{{ error.exceptionClass }}
	{{ error.message }}
</pre>

<b>{{ 'first occurrence time'|trans|capitalize }}:</b> {{ error.firstReceived|format_datetime('short', 'long') }}
<b>{{ 'occurence time'|trans|capitalize }}:</b> {{ error.receivedAt|format_datetime('short', 'long') }}

<a href="{{ error.url }}">{{ 'show error details'|trans|capitalize }}</a>